
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding:40px;
    background-image :linear-gradient(115deg,#56d8e4 10%,#9f01ea 90%);
}
.container{
    background:#fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 800px;
    padding: 25px 40px 10px 40px;

}
.text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(right,#56d8e4 ,#9f01ea);


}
.container form{
  padding: 30px 0 0 0 0;  

}
.container form .form-row {
    display:flex;
    margin:32px;

}
form.form-row.textarea{
    height:70px;
}
.input-data input,
.textarea textarea{
    display: block;
    height: 100%;
    width: 100%;
    border:none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0,0.12);
}
.textarea label{
    width:100;
    bottom: 40px;
    background:#fff;
}
